<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mchp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/rainbow"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rainbow_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RAINBOW"
        android:name=".api.App"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">
        <activity android:name=".api.AppExample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".recycle_base.RecycleViewBaseExample"></activity>
        <activity android:name=".web_view.WebViewExample" />
        <activity android:name=".material_design.BottomNavigationExample" />
        <activity android:name=".material_design.BottomAppBarExample" />
        <activity android:name=".material_design.ListLessons" />
        <activity android:name=".recycle_project.RecycleViewExample" />
    </application>

</manifest>